body {
	background-image: url(map.png);
}

#heading {
	color: darkgreen;
	background-color: white;

	text-align: center;
	padding: 10px;
	font-family: Georgia;
}

#left-side-panel {
	padding: 5px;
	
}

#middle-panel {
	background-color: white;
	padding: 5px;
	
}

#right-side-panel {
	background-color: white;
	padding: 5px;
	
}

#page-bottom {
	padding: 10px;
}

#submit{
	font-size: 16px;
	padding: 5px;
	color: darkgreen;
	font-family: Georgia;
}

#display {
	padding: 10px;
	font-size: 16px;
	text-align: center;
}

#panel-heading {
	padding: 10px;
	font-family: Georgia;
	font-size: 18px;
	text-align: center;
	color: darkgreen;
}

#results {
	font-size: 20px;
	font-family: Georgia;
	color: darkgreen;
	text-align: center;
}

.question {
	padding-top: 50px;
	font-family: Georgia;
	font-size: 22px;
}

ul {
	list-style-type: none;
}

li {
	padding: 10px;
	list-style-type: none;
	font-size: 16px;
	font-family: Georgia;
}